
/*

-webkit-   Used by Chrome, Safari, Android, & iOS
-moz-      Used by Mozilla Firefox
-o-        Used by Opera
-ms-       Used by Internet Explorer

lm<type>-<pos|name>-<amount|variation>
Scrolling rows will have a trailing x

lm - trademark

Type
p - padding
a - alignment
t - text alignment
c - columns
b - background
bd - border
tpl - template

Position
t - top
b - bottom
l - left
r - right

Amount
px 15, 30, 45, 60
% 30p, 50p, 70p, 100p

Order
from brightest to darkest

*/

$bd-r: 4px;   // Border radius
$tr-t: 0.1s;  // Transition time

$breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);


:root {
    --max-pad: 30px;    // 30px -> 60px -> 50%-600px
    --lmc-s-1: 30px; // 30px -> 60px
    --lmc-s-2: var(--lmc-s-1);
}

@font-face {
    font-family: Muli-Light;
    src: url('/commons/fonts/Muli-Light.ttf');
}

* {box-sizing: border-box;}

html {
    background-color: var(--bg-1);
    color: var(--txt-1);
    font-family: "Muli-Light";
    height: 100%;
    width: 100%;
    line-height: 1.6;
    letter-spacing: 0.01rem;
    overflow: hidden;
}


/* MIXINS */

@mixin media($breakpoint) {
    $breakpoint-value: map-get($breakpoints, $breakpoint);
    @media only screen and (min-width: #{$breakpoint-value - 0.02px}) {
        @content();
    }
}

@mixin arrow-right {
    margin-left: 0;
    width: 0;
    font-size: 0.8rem;
    opacity: 0;
    transition: margin 0.2s, width 0.4s, opacity 0.2s;
}

@mixin arrow-right-hvr {
    margin-left: 6px;
    width: auto;
    opacity: 1;
}


.grow {flex-grow: 1;}

body {
    height: inherit;
    width: inherit;
    margin: 0;

    display: flex;
    flex-flow: column nowrap;
}

#app-header {
    position: sticky;
    top: 0;
    background-color: var(--bg-1);
    z-index: 20;

    &>nav {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        max-height: 100vh;
        overflow: auto;
        padding: 4px;

        input {display: none;}
        &>span {flex: 100%;}

        &>label {
            display: inline-block;
            padding: 8px 12px;
            margin: 4px 6px;
            border-radius: $bd-r;
        }
    }
}

#nav-check:checked ~ #nav-links {display: flex;}

#nav-links {
    flex: 100%;
    display: none;
    flex-flow: column nowrap;
    max-width: 480px;
    margin: 0 auto;

    &>a {
        display: inline-block;
        padding: 8px 12px;
        margin: 4px 6px;
        border-radius: $bd-r;
        &:hover {background-color: var(--bg-2);}
    }
}

#page-scroll {
    flex: auto 1 1;
    display: flex;
    flex-flow: column nowrap;
    overflow: auto;
    scroll-behavior: smooth;
}

#app-footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0 var(--max-pad);
    text-align: center;

    a, span {
        display: inline-block;
        padding: 8px 8px;
        margin: 0 4px;
        font-size: 0.8rem;
        color: var(--txt-2);
    }

    .fa-circle {
        font-size: 0.2rem;
        vertical-align: middle;
        color: var(--txt-3);
    }
}

/*
section {
    display: flex;
    flex-flow: row wrap;
    min-height: 100%;

    #aside-collapse {
        display: none;
        &:checked + aside {
            transform: translate(0, 0);
        }
    }

    aside {
        position: fixed;
        height: 100%;
        width: 310px; // aside width + aside padding
        padding: 0 20px;
        background-color: var(--p-2);
        transition: transform 0.2s;
        transform: translate(calc(0px - 310px), 0);
        z-index: 1;

        label[for=aside-collapse] {
            position: absolute;
            margin: 8px 8px 8px 298px; // aside width + aside padding + 8px
            padding: 10px;
            background-color: var(--p-2);
            border-radius: $bd-r;
            transition: background-color $tr-t;
            &:hover {background-color: var(--s-1);}
        }

        &>div {
            display: flex;
            flex-flow: column nowrap;
            margin-top: 15px;

            &>a {
                margin: 6px 0;
                padding: 8px 12px;
                border-radius: 0 $bd-r $bd-r 0;
                border-left: 4px solid var(--s-1);

                &.active, &:hover {
                    background-color: var(--s-1);
                    border-left-color: var(--s-2);
                }
            }
        }

        & ~ main {
        }
    }

    main {
        flex: 100%;
        z-index: 0;
    }
}

*/

#path-area {
    background-color: var(--p-2);

    a {
        display: inline-block;
        padding: 6px 9px;
    }
    i {
        &.fa-home {font-size: 1rem;}
        &:hover {color: var(--ts-1);}
    }
}

#user-drop>a {
    padding: 8px 4px;
    background: none;
    line-height: 0;
    vertical-align: middle;

    &>img {
        width: 30px;
        height: auto;
        border-radius: 50%;
        transition: var(--t);

        &:hover {transform: scale(1.03);}
    }
}

html.js {#hide-all {display: flex;}}

#hide-all {
    display: none;
    position: fixed;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--p-1);
    z-index: 4;
    transition: opacity 0.4s ease;
    animation-duration: 0.4s;
}

#top-btn {
    position: absolute;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    bottom: 30px;
    right: 30px;
    padding-bottom: 2px;
    background-color: var(--s-1);
    font-size: 0.8rem;
    border-radius: 50%;
    z-index: 3;
    transition: background-color $tr-t;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;

    &:hover {background-color: var(--s-2);}
    &.in {animation-name: top-btn-in;}
    &.out {animation-name: top-btn-out;}
}

#message-box {
    position: absolute;
    display: none;
    bottom: 60px;
    left: 60px;
    padding: 14px 16px;
    background-color: var(--p-2);
    color: var(--tp-1);
    border-left-width: 6px;
    border-left-style: solid;
    border-radius: 0 $bd-r $bd-r 0;
}

#cookies-notice {
    position: absolute;
    display: none;
    max-width: 300px;
    left: 15px;
    bottom: 15px;
    margin-right: 15px;
    padding: 8px 12px;
    background-color: var(--p-1);
    border-radius: 4px;
    box-shadow: $sh-1;
    animation-duration: 0.5s;
    animation-name: FIB;
    z-index: 3;

    button, p {font-size: 0.9rem;}
    button {width: 100%;}
}

#sensor-cpt {
    position: absolute;
    bottom: 0;
}
