
/* Input fields */

a, label, button {cursor: pointer;}

input:disabled, textarea:disabled, .lmdisabled {
    opacity: 0.6;
    cursor: not-allowed !important;
}

/* Form objects */

.lmtpl-switch {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    a {
        display: inline-block;
        width: 50px;
        margin: 0 10px;
        color: var(--txt-3);
        background-color: var(--bg-2);
        border: none;
        border-radius: 18px;

        &:before {
            display: block;
            content: "";
            height: 15px;
            width: 15px;
            background-color: var(--bg-2);
            border: 4px solid $green-1;
            border-radius: 50%;
            transition: transform $tr-t;
        }
    }

    .fa {font-size: 1rem;}

    input {
        display: none;
        &[type=checkbox]:checked ~ a {
            background-color: $green-1;
            &:before {transform: translateX(26px);}
        }
    }
}

@mixin lmbtn($var, $color: null) {
    display: inline-block;
    align-self: flex-start;
    padding: 8px 16px;
    transition: background-color $tr-t, color $tr-t, transform $tr-t;
    border-radius: $bd-r;
    width: fit-content;
    outline: none;
    border: none;

    .fa-check {margin-right: 8px;}

    @if $var == 1 or $var == 3 {
        @if $color == red {
            background-color: $red-1;
            color: #fff;
            font-weight: bold;
        }
        @else {
            background-color: var(--bg-3);
            color: var(--txt-1);
        }

        &:hover {
            @if $color == red {background-color: $red-2;}
            @else {
                background-color: var(--bg-4);
                color: var(--txt-2);
            }
        }
    }

    @if $var == 2 or $var == 4 {
        @if $color == red {
            font-weight: bold;
            &:hover {
                background-color: $red-1;
                color: #fff;
            }
        }
        border: 1px solid var(--rbg-1);
    }

    @if $var == 3 or $var == 4 {
        &:hover {transform: scale(1.05)}
    }
}

// Find out why it doesn't work with @each (it isn't executing the @if statements)
.lmbtn-1 {@include lmbtn(1);}
.lmbtn-1-red {@include lmbtn(1, red);}
.lmbtn-2 {@include lmbtn(2);}
.lmbtn-2-red {@include lmbtn(2, red);}
.lmbtn-3 {@include lmbtn(3);}
.lmbtn-3-red {@include lmbtn(3, red);}
.lmbtn-4 {@include lmbtn(4);}
.lmbtn-4-red {@include lmbtn(4, red);}

.lmforms-field {
    margin-bottom: 30px;
    &>h6 {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        width: 100%;
        margin-bottom: 6px;

        &>span {
            font-size: 0.9rem;
            margin-right: 5px;

            &:nth-child(2) {
                color: $red-1;
            }
        }

        &>a {
            font-size: 0.8rem;
            padding: 2px;
            opacity: 0.5;
        }
    }

    &>input, &>textarea {
        padding: 10px 12px;
        width: 100%;
        color: var(--rtxt-4);
        background-color: var(--bg-2);
        border-radius: $bd-r $bd-r 0 0;
        border-top: none;
        border-right: none;
        border-bottom: 2px solid $blue-1;
        border-left: none;
        outline: none;
    }

    &>textarea {
        min-height: 150px;
        resize: none;
    }
}

.lmforms-counter {
    font-size: 0.8rem;
}

.lmtpl-select {
    position: relative;

    div {
        &:first-of-type {
            cursor: pointer;
        }

        &:last-of-type {
            position: absolute;
            display: none;
            flex-flow: column nowrap;
            background-color: var(--p-1);
            width: 100%;
            z-index: 1;

            &.lmopened {
                display: flex;
            }

            .lmselected {
                background-color: var(--p-2);
            }

            span {
                display: block;
                padding: 10px 12px;
                transition: background-color $tr-t;
            }

            span:hover {
                background-color: var(--s-1);
                cursor: pointer;
            }
        }
    }
}

.lmforms-spinner {
    // Add xs, md, lg when we use this in places other than hide-all
    &::after {
        content: " ";
        display: block;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        border-width: 3px;
        border-style: solid;
        border-color: var(--rbg-1) transparent var(--rbg-1) transparent;
        animation-name: R360;
        animation-duration: 1s;
        animation-iteration-count: infinite;
    }
}

#lmid-unsaved-changes {
    display: none;
    color: $red-1;
}
