$gold-1: #e69500;
$silver-1: #9A9A9A;
$blue-1: #53a2e3;
$blue-2-hex: #95C6EE;
$green-1: #2ecc71;
$green-2: #55d98c;
$orange-1: #f4ad49;
$purple-hex: #6757e2;
$red-1: #ef4658;
$red-2: #f1725d;
$sh-1: 0 0 2px 2px rgba(0, 0, 0, 0.12);
$sh-2: 2px 4px 3px 4px rgba(0, 0, 0, 0.06);

html {
    // Light theme
    // Background: From brightest to darkest
    --bg-1-1: #faf9f9;
    --bg-2-1: #f1eeee;
    --bg-3-1: #e8e4e4;
    --bg-4-1: #dfd9d9;
    // Contrast background: From brightest to darkest
    --rbg-1-1: #496170;
    --rbg-2-1: #3E525E;
    --rbg-3-1: #32424C;
    --rbg-4-1: #27343C;
    // Text: From darkest to brightest
    --txt-1-1: #36454f;
    --txt-2-1: #40525e;
    --txt-3-1: #4b5f6d;
    --txt-4-1: #556d7c;
    // Contrast text: from brightest to darkest
    --rtxt-1-1: #fcfdfd;
    --rtxt-2-1: #ced9df;
    --rtxt-3-1: #A6B9C5;
    --rtxt-4-1: #B8C7D0;

    // Dark theme
    // Background: from darkest to brightest
    --bg-1-2: #000000;
    --bg-2-2: #070808;
    --bg-3-2: #121416;
    --bg-4-2: #1e2124;
    // Contrast background: From darkest to brightest
    --rbg-1-2: #dfd9d9;
    --rbg-2-2: #e8e4e4;
    --rbg-3-2: #f1eeee;
    --rbg-4-2: #faf9f9;
    // Text: from brightest to darkest
    --txt-1-2: #b3b3b3;
    --txt-2-2: #ffffff;
    --txt-3-2: #d9d9d9;
    --txt-4-2: #B8C7D0;
    // Contrast text: From darkest to brightest
    --rtxt-1-2: #36454f;
    --rtxt-2-2: #40525e;
    --rtxt-3-2: #4b5f6d;
    --rtxt-4-2: #556d7c;

    &[data-theme='1'] {
        --bg-1: var(--bg-1-1);
        --bg-2: var(--bg-2-1);
        --bg-3: var(--bg-3-1);
        --bg-4: var(--bg-4-1);

        --rbg-1: var(--rbg-1-1);
        --rbg-2: var(--rbg-2-1);
        --rbg-3: var(--rbg-3-1);
        --rbg-4: var(--rbg-4-1);

        --txt-1: var(--txt-1-1);
        --txt-2: var(--txt-2-1);
        --txt-3: var(--txt-3-1);
        --txt-4: var(--txt-4-1);

        --rtxt-1: var(--rtxt-1-1);
        --rtxt-2: var(--rtxt-2-1);
        --rtxt-3: var(--rtxt-3-1);
        --rtxt-4: var(--rtxt-4-1);
    }

    &[data-theme='2'] {
        --bg-1: var(--bg-1-2);
        --bg-2: var(--bg-2-2);
        --bg-3: var(--bg-3-2);
        --bg-4: var(--bg-4-2);

        --rbg-1: var(--rbg-1-2);
        --rbg-2: var(--rbg-2-2);
        --rbg-3: var(--rbg-3-2);
        --rbg-4: var(--rbg-4-2);

        --txt-1: var(--txt-1-2);
        --txt-2: var(--txt-2-2);
        --txt-3: var(--txt-3-2);
        --txt-4: var(--txt-4-2);

        --rtxt-1: var(--rtxt-1-2);
        --rtxt-2: var(--rtxt-2-2);
        --rtxt-3: var(--rtxt-3-2);
        --rtxt-4: var(--rtxt-4-2);
    }

}

/* Text */

span.red {color: $red-1;}
span.blue {color: $blue-1;}
a.red:hover {
    background-color: $red-1;
    color: var(--tp-1-2);
}

.lmtpl-a-blue {
    color: $blue-1;
    font-weight: bold;
    &:hover {color: $blue-2-hex;}
}

/* Backgrounds */

.lmbg-blue {background-color: $blue-1;}
.lmbg-silver {
    background-color: $silver-1;
    &>* {color: #fff !important;}
    font-weight: bold;
}
.lmbg-green {
    background-color: $green-1;
    &>* {color: #fff !important;}
    font-weight: bold;
}
.lmbg-orange {background-color: $orange-1; color: var(--tp-1-1);}
.lmbg-red {background-color: $red-1;}

.lmbg-2 {background-color: var(--bg-2);}
