/* Columns */

$col-sizes: (
    1: 8.33333333%,
    2: 16.66666667%,
    3: 25%,
    4: 33.33333333%,
    5: 41.66666667%,
    6: 50%,
    7: 58.33333333%,
    8: 66.66666667%,
    9: 75%,
    10: 83.33333333%,
    11: 91.66666667%,
    12: 100%
);

.lmrow {
    --lmg-x: 0;
    --lmg-y: 0;
    display: flex;
    flex-flow: row wrap;

    margin-left: calc(-0.5 * var(--lmg-x));
    margin-right: calc(-0.5 * var(--lmg-x));
    margin-top: calc(-1 * var(--lmg-y));
}

.lmrow > * {
    padding-left: calc(0.5 * var(--lmg-x));
    padding-right: calc(0.5 * var(--lmg-x));
    margin-top: var(--lmg-y);
}

.lmcolumn {
    display: flex;
    flex-flow: column nowrap;
}

.lmcol {flex: 1 0 0%;}
@each $id, $size in $col-sizes {
    .lmcol-#{$id} {flex: 0 1 #{$size};}
    @each $breakpoint in (sm, md, lg, xl, xxl) {
        .lmcol-#{$breakpoint}-#{$id} {flex: 0 0 100%};
    }
}


/* Column Gutters */

$gutter-sizes: (
    1: 1rem,
    2: 2rem,
    3: 3rem,
    4: 4rem,
    5: 5rem
);

@each $axis in (x, y) {
    @each $id, $size in $gutter-sizes {
        .lmg#{$axis}-#{$id} {
            --lmg-#{$axis}: #{$size};
        }
    }
}


/* Boxes */

.lmbox {
    width: 100%;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
}

.lmbox-max {
    width: 100%;
}


/* Displays */

.lmd-flex {display: flex; flex-flow: row wrap;}
.lmd-row-wrap {flex-flow: row wrap;}
.lmd-row-nowrap {flex-flow: row nowrap;}
.lmd-column-wrap {flex-flow: column wrap;}
.lmd-column-nowrap {flex-flow: column nowrap;}

/* Alignment */
.lma-align-items-start {@extend .lmd-flex; align-items: flex-start;}
.lma-align-items-end {@extend .lmd-flex; align-items: flex-end;}
.lma-align-items-center {@extend .lmd-flex; align-items: center;}
.lma-align-content-start {@extend .lmd-flex; align-content: flex-start;}
.lma-align-content-end {@extend .lmd-flex; align-content: flex-end;}
.lma-align-content-center {@extend .lmd-flex; align-content: center;}
.lma-justify-content-start {@extend .lmd-flex; justify-content: flex-start;}
.lma-justify-content-end {@extend .lmd-flex; justify-content: flex-end;}
.lma-justify-content-center {@extend .lmd-flex; justify-content: center;}
.lma-justify-content-space-between {@extend .lmd-flex; justify-content: space-between;}
.lma-justify-content-space-around {@extend .lmd-flex; justify-content: space-around;}

/* Related Media */

@each $breakpoint, $value in $breakpoints {
    .lmbox-#{$breakpoint} {width: 100%;}
}

@include media(sm) {
    .lmbox, .lmbox-sm {width: 540px;}

    .lmcol-sm {flex: 1 0 0%;}
    @each $id, $size in $col-sizes {
        .lmcol-sm-#{$id} {flex: 0 1 #{$size};}
    }
}

@include media(md) {
    .lmbox {width: 720px;}
    @each $size in (sm, md) {
        .lmbox-#{$size} {width: 720px;}
    }

    .lmcol-md {flex: 1 0 0%;}
    @each $id, $size in $col-sizes {
        .lmcol-md-#{$id} {flex: 0 1 #{$size};}
    }
}

@include media(lg) {
    .lmbox {width: 960px;}
    @each $size in (sm, md, lg) {
        .lmbox-#{$size} {width: 960px;}
    }

    .lmcol-lg {flex: 1 0 0%;}
    @each $id, $size in $col-sizes {
        .lmcol-lg-#{$id} {flex: 0 1 #{$size};}
    }
}

@include media(xl) {
    .lmbox {width: 1140px;}
    @each $size in (sm, md, lg, xl) {
        .lmbox-#{$size} {width: 1140px;}
    }

    .lmcol-xl {flex: 1 0 0%;}
    @each $id, $size in $col-sizes {
        .lmcol-xl-#{$id} {flex: 0 1 #{$size};}
    }
}

@include media(xxl) {
    .lmbox {width: 1320px;}
    @each $size in (sm, md, lg, xl, xxl) {
        .lmbox-#{$size} {width: 1300px;}
    }

    .lmcol-xxl {flex: 1 0 0%;}
    @each $id, $size in $col-sizes {
        .lmcol-xxl-#{$id} {flex: 0 1 #{$size};}
    }
}
