/* Columns */

.lmc-1-33 {max-width: 400px;} // 33% of maximum width
.lmc-1-50 {max-width: 600px;}
.lmc-1-75 {max-width: 900px;}

.lmc-2-28, .lmc-2-37, .lmc-2-46, .lmc-2-55, .lmc-2-82, .lmc-2-73, .lmc-2-64,
.lmc-3 {
    display: flex;
    flex-flow: column nowrap;
    &.lmc-s-15 {--lmc-s-2: 15px;}
}

.lmc-3>div {
    margin: 16px 0;
}

.lmtpl-grid {
    display: grid;
    &>div {
        background-color: var(--bg-2);
        padding: 16px 24px;
        border-radius: 8px;
    }
}

#g1 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1.5rem 1.5rem;
    grid-template-areas:
        "ga1 ga2"
        "ga1 ga3";
}

#ga1 {grid-area: ga1;}
#ga2 {grid-area: ga2;}
#ga3 {grid-area: ga3;}


.lmbox {
    width: 100%;
    margin: auto;
}

.lmbox-max {
    width: 100%;
}

@each $breakpoint, $value in $breakpoints {
    .lmbox-#{$breakpoint} {width: 100%;}
}

@include media(sm) {
    .lmbox, .lmbox-sm {width: 540px;}
}

@include media(md) {
    .lmbox {width: 720px;}
    @each $size in (sm, md) {
        .lmbox-#{$size} {width: 720px;}
    }
}

@include media(lg) {
    .lmbox {width: 960px;}
    @each $size in (sm, md, lg) {
        .lmbox-#{$size} {width: 960px;}
    }
}

@include media(xl) {
    .lmbox {width: 1140px;}
    @each $size in (sm, md, lg, xl) {
        .lmbox-#{$size} {width: 1140px;}
    }
}

@include media(xxl) {
    .lmbox {width: 1320px;}
    @each $size in (sm, md, lg, xl, xxl) {
        .lmbox-#{$size} {width: 1320px;}
    }
}
