/* Text */

$text-aligns: (
    l: left,
    c: center,
    r: right,
    j: justify
);

@each $short, $long in $text-aligns {
    .lmt-#{$short} {
        text-align: $long;
    }
}

.lmt-j {
    h1, h2, h3, h4, h5, h6 {
        text-align: left;
    }
}

$text-sizes: (
    s: 0.8rem,
    m: 1.8rem,
    l: 2.2rem,
    xl: 2.8rem,
    xxl: 3.2rem,
    extra-xxl: 8rem
);

@each $size, $value in $text-sizes {
    .lmf-#{$size} {font-size: $value;}
}

.lmf-extra-xxl {
    line-height: 1;
    &::after {
        display: none;
    }
}


/* Links */

p a {
    padding-bottom: 4px;
    &::after {
        content: '';
        display: block;
        height: 1px;
        width: calc(100% - 16px);
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: $blue-1;
        transition: width $tr-t, left $tr-t;
    }

    &:hover::after {
        left: 0;
        width: 100%;
        background-color: $blue-2;
    }

}

a  {
    position: relative;
    color: var(--txt-1);
    text-decoration: none;
    transition: background-color $tr-t, color $tr-t;

    &.lmactive {
        background-color: var(--bg-2);
        color: var(--txt-2);

        &:hover {
            background-color: var(--bg-3);
        }
    }

    .fa-angle-right, .fa-chevron-right {@include arrow-right;}

    &:hover {
        color: var(--txt-2);
        .fa-angle-right, .fa-chevron-right {@include arrow-right-hvr;}
    }
}

/* Headings */

$heading-sizes: (
    h1: 2rem,
    h2: 1.8rem,
    h3: 1.6rem,
    h4: 1.4rem,
    h5: 1.2rem,
    h6: 1rem
);

@each $heading, $size in $heading-sizes {
    #{$heading} {font-size: $size;}
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    color: var(--txt-2);
    width: fit-content;

    & ~ p {font-size: 1.14rem;}

    &>.fa {
        margin-right: 8px;
    }
}

h1::after {
    content: '';
    display: block;
    width: 33.33%;
    border-radius: 4px;
    height: 2px;
    background-color: $blue-1;
}

ul {font-size: 1.1rem;}

.fa-at {
    font-size: 0.8rem;
    margin: 0 1px;
}

.fa-up-right-from-square {
    font-size: 0.7rem;
    margin-left: 6px;
}
