#home-welcome>div {
    &.lmtpl-ilust {display: none;}
    text-align: center;

    &>h1 {
        padding: 0;
        font-size: 4rem;
        line-height: 1;
    }

    &>p {
        font-size: 2rem;
        &:first-of-type {margin-top: 30px; margin-bottom: 15px;}
        &:last-of-type {margin-top: 15px; margin-bottom: 30px;}
    }
}
